[submodule "packages/fragment-plugin"]
	path = packages/fragment-plugin
	url = https://github.com/swup/fragment-plugin.git
	branch = master
[submodule "packages/swup"]
	path = packages/swup
	url = https://github.com/swup/swup.git
	branch = next
