:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica,
    roboto, noto, "segoe ui", arial, sans-serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --swup-green: #60ddcd;
}