/* The default transition for non-fragment visits */
.transition-main {
  transition-property: opacity, transform;
  transition-duration: 250ms;
}

html.is-animating .transition-main {
  opacity: 0;
  transform: translateY(-20px);
}

html.is-leaving .transition-main {
  transform: translateY(20px);
}

/*
 * The transition when filtering the characters.
 * Here, we are animating the `.teaeser` elements individually
 */
#list.is-changing {
  --duration-leave: 150ms;
  --duration-enter: 400ms;
  transition-duration: var(--duration-enter);
}
#list.is-leaving {
  transition-duration: var(--duration-leave);
}
#list.is-changing .teaser {
  transition-property: opacity, transform;
  transition-duration: var(--duration-enter);
  transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
}
#list.is-animating .teaser {
  opacity: 0;
  transform: scale(0.75);
}
/* Change easing and duration for the leave-phase */
#list.is-leaving .teaser {
  transition-timing-function: ease-in;
  transition-duration: var(--duration-leave);
}

/*
* The transition for opening and closing an overlay.
* The animation happens on the element itself
*/
#overlay.is-changing {
  transition: opacity 350ms;
}

#overlay.is-animating {
  opacity: 0;
}
/* Custom handling based on route */
#overlay.to-open-overlay.is-leaving,
#overlay.to-close-overlay.is-rendering {
  transition-duration: 1ms;
}

/*
* The transition between characters.
* The animation happens on the element itself
*/
#detail.is-changing {
  transition: opacity 200ms, transform 200ms;
}

#detail.is-animating {
  opacity: 0;
  transform: translateY(-20px);
}

#detail.is-leaving {
  opacity: 0;
  transform: translateY(20px);
}


/* cut */

/* .overlay-placeholder {
  width: 300px;
  aspect-ratio: 1;
  background: red;
  position: fixed;
  top: 0;
  pointer-events: none;
} */