/* The default transition for non-fragment visits */
html.is-changing .transition-main {
  transition: opacity 250ms, transform 250ms;
}

html.is-animating .transition-main {
  opacity: 0;
  transform: translateY(-20px);
}

html.is-leaving .transition-main {
  transform: translateY(20px);
}

/*
 * The transition when filtering the characters.
 * Here we are animating children of the element #list
 */
#list.is-changing .transition-teaser {
  transition-property: opacity, transform;
  transition-duration: 450ms;
}

#list.is-animating .transition-teaser {
  opacity: 0;
  transform: scale(0.75);
}

#list.is-leaving .transition-teaser {
  transition-duration: 100ms;
}

/*
* The transition for opening and closing an overlay.
* The animation happens on the element itself
*/
.transition-overlay.is-changing {
  transition: opacity 350ms;
}

.transition-overlay.is-animating {
  opacity: 0;
}
/* Custom handling based on route */
.transition-overlay.to-open-overlay.is-leaving,
.transition-overlay.to-close-overlay.is-rendering {
  transition-duration: 0ms;
}

/*
* The transition between characters.
* The animation happens on the element itself
*/
.transition-character.is-changing {
  transition: opacity 200ms, transform 200ms;
}

.transition-character.is-animating {
  opacity: 0;
  transform: translateY(-20px);
}

.transition-character.is-leaving {
  opacity: 0;
  transform: translateY(20px);
}


/* cut */

/* .overlay-placeholder {
  width: 300px;
  aspect-ratio: 1;
  background: red;
  position: fixed;
  top: 0;
  pointer-events: none;
} */