---
import Base from "../../components/Base.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Characters from "../../components/Characters.astro";
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main id="characters">
		<Characters />
		<!--?php require_once(dirname(__FILE__) . '/filters.php'); ?-->
	</main>
</Base>
