---
import Base from "../../components/Base.astro";
import Teasers from "../../components/Teasers.astro";
import Filters from "../../components/Filters.astro";
---

<Base title="Characters">
	<main id="characters-list">
		<Filters mark-active={true} />
		<Teasers />
	</main>
	<div id="character-modal"></div>
</Base>
