---
import Base from "../../components/Base.astro";
import Teasers from "../../components/Teasers.astro";
import Filters from "../../components/Filters.astro";
---

<Base title="Characters">
	<main id="teasers">
		<Filters />
		<Teasers />
	</main>
	<p class="hint">
    💡 Navigating between the filters, will only replace the element <code>#teasers</code>.<br>
    Clicking on one of the characters will only replace the element <code>#overlay</code>
  </p>
	<div id="overlay"><!-- the placeholder for the overlay --></div>
</Base>
