---
import Base from "../../components/Base.astro";
import Teasers from "../../components/Teasers.astro";
import Filters from "../../components/Filters.astro";
---

<Base title="Characters">
	<main id="list">
		<Filters />
		<Teasers />
	</main>
	<div id="overlay" class="transition-overlay overlay-placeholder"><!-- the placeholder for the overlay --></div>
</Base>
