---
import Base from "../../components/Base.astro";
import Teasers from "../../components/Teasers.astro";
import Filters from "../../components/Filters.astro";
---

<Base title="Characters">
	<template id="character-modal"></template>
	<main id="characters-list">
		<Filters mark-active={true} />
		<Teasers />
	</main>
</Base>
