---
import Base from '../components/Base.astro';
import feather from 'feather-icons';
---
<Base isFrontPage={true}>
	<main>
		<p>This is a demo site for testing the upcoming Swup Fragment Plugin</p>
		<p><br><a class="button" href="/characters/">Browse some characters <Fragment set:html={feather.icons['arrow-right'].toSvg()}></Fragment></a></p>
	</main>
</Base>