---
import Base from '../components/Base.astro';
---
<Base isFrontPage={true}>
	<main>
		<h1>Super Mario Characters</h1>
		<p>This is a demo site for testing the upcoming Swup Fragment Plugin</p>
	</main>
</Base>