---
import Base from '../components/Base.astro';
import Filters from '../components/Filters.astro';
---
<Base isFrontPage={true}>
	<main class="text">
		<p>
			This is a demo and test site for the <a href="https://github.com/swup/fragment-plugin">fragment plugin</a> for <a href="https://github.com/swup/">swup</a>.
		</p>
		<p>
			Under <a href="/characters/">Characters</a>, you can find a filterable list of super mario characters. Note how only the <code>#items</code> and <code>#filters</code> are being replaced when filtering characters. How a single character opens in an <code>#overlay</code>. How only the <code>#detail</code> of a character is being replaced between characters, without touching the <code>#overlay</code>.
		</p>
		<p><strong>All this is is the work of the Fragment Plugin! 🪄</strong></p>
	</main>
</Base>