---
import Base from "../components/Base.astro";
import { Debug, Code } from "astro/components";

import CSS from "../styles/inc/transitions.css?inline";

import { loadSwupInitializationCode } from "../js/utils.js";
const JS = loadSwupInitializationCode();
---

<Base>
	<div class="text">
		<p>The following code is being used on this very site for initializing swup with fragment support:</p>
		<Code code={JS} lang="typescript" />
		<p>The CSS for the transitions:</p>
		<Code code={CSS} lang="css" />
	</div>
</Base>
