---
import Base from "../components/Base.astro";
import { Code } from "astro/components";

import { loadSwupJS, loadSwupCSS } from "../js/backend.js";
const JS = loadSwupJS();
const CSS = loadSwupCSS();
---

<Base>
	<div class="text">
		<p>The following code is being used on this very site for initializing swup with fragment support:</p>
		<Code code={JS} lang="typescript" />
		<p>The CSS for the transitions:</p>
		<Code code={CSS} lang="css" />
	</div>
</Base>
