---
import { CollectionEntry, getCollection } from "astro:content";
import { Debug } from "astro/components";
const filters = await getCollection("filters");
const allFilters = [
	{
		slug: undefined,
		data: {
			name: "All",
		},
	},
	...filters,
];

const { filter: currentFilterSlug } = Astro.params;
---

<nav class="filters">
	<ul class="filters_list">
		{
			allFilters.map((filter) => (
				<li class="filters_item">
					<a
						class:list={[
							"filters_link button",
							{ "is-active": filter.slug === currentFilterSlug },
						]}
						data-tippy="Will replace <code>#overview</code>"
						href={filter.slug ? `/characters/${filter.slug}` : "/characters/"}
					>
						{filter.data.name}
					</a>
				</li>
			))
		}
	</ul>
</nav>
