---
import { CollectionEntry, getCollection } from "astro:content";
import { Code } from 'astro/components';
const filters = await getCollection("filters");

const { filter: currentFilterSlug } = Astro.params;
---

<nav class="filters">
	<ul class="filters_list">
		{
			filters.map((filter) => (
				<li class="filters_item">
					<a
						class:list={[
							"filters_link button",
							{ "is-active": filter.slug === currentFilterSlug },
						]}
						data-tippy="Will replace <code>#overview</code>"
						href={`/characters/${filter.slug}`}
					>
						{filter.data.name}
					</a>
				</li>
			))
		}
	</ul>
</nav>
