---
import NavLink from './NavLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const { isFrontPage } = Astro.props;
---

<header class="site-header">
	{
		isFrontPage ? (
			<h1 class="site-title">{SITE_TITLE}</h1>
		) : (
			<div class="site-title">{SITE_TITLE}</div>
		)
	}
	<nav>
		<ul class="nav_list">
			<li><NavLink href="/" data-tippy="Fragments: <code>#swup</code>">Home</NavLink></li>
			<li><NavLink href="/characters/" data-tippy="Fragments: <code>#swup</code>">Characters</NavLink></li>
			<li><NavLink href="/view-source/" data-tippy="Fragments: <code>#swup</code>">View Source</NavLink></li>
			<li><NavLink href="https://github.com/swup/fragment-plugin" target="_blank">GitHub</NavLink></li>
		</ul>

	</nav>
</header>
<style>
</style>
