---
import Base from '../components/Base.astro';
import Characters from "../components/Characters.astro";

const { name } = Astro.props;
const description = `${name} is a character in the Super Mario universe`;
---

<Base title={name} description={description}>
	<slot />
	<div id="characters">
		<Characters />
	</div>
</Base>
